/******** ELEMENTS ********/
body,
html,
#root,
#app-container {
  color:rgb(96, 96, 96);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  overflow: hidden;
}


.form-input {
  margin: 10px 0 !important;
}

.custom-link a {
  text-decoration: none !important;
  color: rgb(47, 173, 211);
  margin-left: 5px;
}

.custom-link a:hover {
  color: rgb(0, 124, 191);
}

.hide {
  display: none !important;
}


.done_btn {
  display: block;
}

#app-container, #home-container {
  margin: 0 auto;
	height: 100%;
  color:rgb(96, 96, 96);
}

#root {
  background-image: linear-gradient(to bottom, #37aac973, rgb(255 248 206 / 34%) 50%, rgb(250 250 249 / 68%) 60%, rgb(255 248 206 / 26%)63%, #dfa17961 83%, #d2561163 93%, #d5020273 98%);
}

/******** ALERTS ********/

#user-alerts {
  font-size: 16px;
  width: 70%;
  padding: 1% 0;
  top: 15%;
  left: 15%;
  text-align: center;
  background-color: #ffdacc;
  /* border: 1px solid black; */
  position: fixed;
  z-index: 10;
}

/******** NAV ********/

#nav-wrapper {
  height: 100px;
}

#thought-span {
  color: rgb(232, 134, 134);
}

#flow-span {
  color: #fff;
}

#nav-title {
  text-shadow: .75px .75px 1px #292a2a,
              1px 0 1px rgb(168, 177, 177);
  font-family: "Caveat";
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: .4rem;
}

#nav-home a {
  text-decoration: none;
}

.navbar-link a {
  text-decoration: none;
  font-weight: 900;
  color:rgb(96, 96, 96);
  font-size: 1.6rem;
  margin: 0 8px;
  white-space: nowrap;
}

.navbar-link a:hover, .hub-link a:hover {
  /* color:rgb(47, 173, 211); */
  /* color:rgb(254, 254, 196) !important; */
  color: rgb(232, 134, 134);
}

.mask-custom {
  backdrop-filter: blur(7px);
  background-image: linear-gradient(to bottom, #37a9c932, #37a9c927 30%, #37a9c917 50%, rgba(255, 248, 206, 0.067) 80%, rgba(250, 250, 249, 0.059)  99.9%);
  /* background-color: rgba(255, 255, 255, 0.328); */
}

#main-nav-menu {
  width: 100%;
}

#app-nav-toggler {
  /* position: fixed;
  top: 95px;
  right:25px; */
  /* margin-left: 10px; */
}

/******** CONTACT ********/

#contact-main {
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  height: 400;
  background-color: #fffdf4;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#contact-main::-webkit-scrollbar {
  display: none;
}

#contact-title {
  text-align: center;
}

#contact-check {
  margin-right: 10px!important;
}

.form-check-input {
  margin-right: 10px!important;
}

.form-check-input:checked{
  background-color: #37a9c9 !important;
  border: 0;
}

.form-check-input:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
  color: rgb(110, 107, 107);
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem #a5f1ffb9 !important;
}

.form-btn-div {
  text-align: center;
}

.form-btn {
  margin: 5px;
  background-color: #37a9c956 !important;
}

/******** GREET ********/

#greet-wrapper {
  margin: 1% 5%;
}

#greeting-link a, #message-link a {
  text-decoration: none;
  color:rgb(232, 134, 134);
  font-weight: bolder;
  margin-left: 5px;
}

#greeting-link a {
  font-size: 1.5em;
}

#message-link a:hover {
  font-size: 1.3em;
}

/******** USER MSG ********/
#user-msg-wrapper {
  height: 1em;
}

/******** FEELINGS ********/
#feelings-wrapper {
  display: inline-block;
  text-align: center;
  width: 45%;
  clear: both;
  margin: auto;
}

/******** QUOTE ********/
#quote-wrapper {
  width: 43%;
  height: 20%;
  float: left;
  background-color: rgb(248,249,250);
}

/* *******ENTRY******* */

#entry-container {
  height: 100%;
  width: 70%;
  min-width: 355px;
}

#entry-full-form {
  height: 66%;
  min-height: 365;
  overflow-y: hidden;
  /* overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; */
}

/* #entry-full-form::-webkit-scrollbar {
  display: none;
} */


.guided-label {
  margin: 8px auto;
  font-weight: bolder;
  font-size: 1.1em;
}

.solo-label {
  margin: 10px auto;
  font-size: 1.3em;
}

/******** POST ********/
.post-wrapper {
  margin: 20px;
}

.post-date {
  display: block;
  margin: 5px;
}

.post-entry {
  margin: 0;
}

.icon-container {
  margin-top: 100px;
}

.post-wrapper p:first-of-type {
  margin-top: 0;
}

/******** HUB ********/

#hub-wrapper {
  float: right;
	margin: 0 5% 0 0;
  width: 40%;
  min-width: 350px;
  height: 100%;
  background-color: rgb(248,249,250);
}

.hub-link a {
  text-decoration: none;
  font-weight: 600;
  color:rgb(96, 96, 96);
  font-size: 1.1rem;
  margin: 0 4px;
  white-space: nowrap;
}

#journal-wrapper {
  height: 68%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#journal-wrapper::-webkit-scrollbar {
  display: none;
}

#milestone-container {
  width: 60%;
  min-width: 310;
  max-width: 450px;
  height: 350px;
}


#milestone-bar-wrapper {
  height: 68%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#milestone-bar-wrapper::-webkit-scrollbar {
  display: none;
}

#trends-wrapper {
  height: 68%;
}

#journal-wrapper::-webkit-scrollbar {
  display: none;
}

#journal-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.milestone-text {
  display: inline-block;
}

/******** LOGIN ********/

#login-wrapper,
#signup-wrapper {
  margin: auto;
  height: 430px;
  width: 50%;
  max-width: 400px;
  min-width: 300px;
}

#login-btn-div {
  position: relative;
  top: 75px;
}

/******** SIGNUP ********/

#signup-wrapper {
  height: 535px !important;
}

#pass-reqs {
  text-align: center;
  display: inline-block;
}

#pass-reqs li{
  text-align: left;
  font-size: .8em;
  list-style-type: "\2610   ";
}

.unchecked {
  list-style-type: "\2610   ";
}

.checked::marker {
  content: '✓   ';
  color: green;
}

/******** SIGNOUT ********/

#signout-container {
  width: 30%;
  min-width: 285px;
  max-width: 350px;
  height: 30%;
  min-height: 175px;
  margin: 100px auto;
  padding: 3em;
  background-color: #fff;
}

#signout-btn-div {
  margin-top: 15%;
}

/******** PROFILE ********/

#profile-wrapper {
  width: 50%;
  min-width: 301px;
  min-width: 300px;
  height: 400;
  background-color: #fffdf4;
}

.profile-form-input {
  margin: 7px 0;
}
