/******** ELEMENTS ********/
body,
html,
#root,
#app-container {
  color: #606060;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  letter-spacing: 1px;
  overflow: hidden;
}

/*
  background-color: #fffdf9e9;
*/

[contenteditable]:focus {
  outline: 1px solid #2fadd3;
}

.form-input {
  margin: 10px 0 !important;
}

#add-entry {
  display:flex;
  justify-content: center;
  margin-right: 15px;
}

.icon-container {
  display:flex;
  justify-content: center;
  margin-right: 15px;
}

.custom-link a {
  text-decoration: none !important;
}

.hub-icon {
  text-decoration: none !important;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}

.custom-link a:hover {
  color: rgb(0, 124, 191);
}

#add-entry-btn {

}

.hide {
  display: none !important;
}

.done_btn {
  display: block;
}

#app-container,
#home-container {
  margin: 0 auto;
  height: 100%;
}

#root {
  background-image: linear-gradient(
    to bottom,
    #37aac973,
    #fff8ce57 50%,
    #fafaf9ad 60%,
    #fff8ce42 63%,
    #dfa17961 83%,
    #d2561163 93%,
    #d5020273 98%
  );
}

/******** ALERTS ********/

#user-alerts {
  font-size: 16px;
  font-weight: 600;
  width: 70%;
  padding: 1% 0;
  top: 15%;
  left: 15%;
  text-align: center;
  background-color: #ffd0bfb6;
  /* border: 1px solid black; */
  position: fixed;
  z-index: 10;
}

/******** NAV ********/

#nav-wrapper {
  height: 100px;
}

#thought-span {
  color: #e88686;
}

#flow-span {
  color: #fffdf9;
}

#nav-title {
  text-shadow: 0.75px 0.75px 1px #292a2a, 1px 0 1px #a8b1b1;
  font-family: "Caveat";
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 0.4rem;
}

#nav-home a {
  text-decoration: none;
}

.navbar-link a {
  text-decoration: none;
  font-weight: 900;
  color: #606060;
  font-size: 1.6rem;
  margin: 0 8px;
  white-space: nowrap;
}

.navbar-link a:hover,
.hub-link a:hover {
  /* color:rgb(47, 173, 211); */
  /* color:rgb(254, 254, 196) !important; */
  color: #e88686;
}

.mask-custom {
  backdrop-filter: blur(7px);
  background-image: linear-gradient(
    to bottom,
    #37a9c932,
    #37a9c927 30%,
    #37a9c917 50%,
    rgba(255, 248, 206, 0.067) 80%,
    rgba(250, 250, 249, 0.059) 99.9%
  );
  /* background-color: rgba(255, 255, 255, 0.328); */
}

#main-nav-menu {
  width: 100%;
}

#navbar-toggler,
#navbar-toggler:focus,
#navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 2em;
    padding: 0 10px;
}

/******** HOME ********/

/* #home-main {
  width: 45%;
} */

/******** CONTACT ********/

#contact-main {
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  height: 400;
  background-color: #fffdf9e9;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#contact-main::-webkit-scrollbar {
  display: none;
}

#contact-title {
  text-align: center;
}

#contact-check {
  margin-right: 10px !important;
}

.form-check-input {
  margin-right: 10px !important;
}

.form-check-input:checked {
  background-color: #37a9c9 !important;
  border: 0;
}

.form-check-input:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: #6e6b6b;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem #a5f1ffb9 !important;
}

.form-btn-div {
  text-align: center;
}

.form-btn {
  margin: 5px;
  background-color: #37a9c956 !important;
}

/******** GREET ********/

#greeting-msg-row, #greet-link {
  position: relative;
}

#greet-link a,
#message-link a {
  text-decoration: none;
  color: #e88686;
  font-weight: bolder;
  font-size: 1.1em;
  margin-left: 1px;
}

.active-text {
  color: #e88686;
}

#greeting-feeling {
  display: inline-block;
  min-width: 340px;
}

#greet-info {
  visibility: hidden;
  position: absolute;
  top: -8px;
  left: -35px;
  z-index: 10;
  height: 20px;
  width: 110px;
  border-radius: 8px;
  background-color: #fffdf956;
  backdrop-filter: blur(7px);
  letter-spacing: 0;
  font-size: .7em;
}

#greet-link:hover #greet-info {
  cursor: pointer;
  visibility: visible;
}

#message-link a:hover, #greet-link a:hover {
  color: #37a9c9;
  transform: translate(0, -10px);
}

/******** USER MSG ********/

#user-msg-wrapper {
  min-height: 1em;
  /* background-color: #fffdf98a; */
  /* background-image: linear-gradient( #fffdf95f, #e8e4db6b, #f8e7c65e);
  background-image: linear-gradient( #fffdf956, #fffdf956, #fffdf956);
  backdrop-filter: blur(7px); */
}

#msg-center {
  width: 85%;
  background-image: linear-gradient( #fffdf95f, #e8e4db6b, #f8e7c65e);
  background-image: linear-gradient( #fffdf956, #fffdf956, #fffdf956);
  backdrop-filter: blur(7px);
}

.test {
  -webkit-animation: 1.5s highlight 800ms 1 normal forwards;
          animation: 1.5s highlight 800ms 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #ffd0bfb6 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}


/* .test mark{
  position: relative;
}
.test::before {
  white-space: pre;
}

.test:after mark{
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo element right under the content */
  /* top: 0;
  left: 0;
  background-color: none;
  background: linear-gradient(to top, #ff9191 50%, white 50%);
  animation-name: highlight;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: forward;
}

@keyframes highlight {
  0% {
    width: 0;
    opacity: 0;
  }

  50% {
    width: 100%;
    opacity: 1;
  }

} */

/******** FEELINGS ********/

#feelings-wrapper {
  min-height: 150px;
  max-height: 75vh;
}

#feelings-form {
  background-color: #fffdf9e9;
  min-height: 200px;
}

#feelings-form .feel-select {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-left: 1em;
}

#feelings-form .feel-select select {
  flex-basis: 50%;
}

#feelings-form .feel-select select option {
  background-color: red;
}

#feeling-cancel {
  display: flex;
  justify-content: center;
}

#feelings-form h5 {
  margin-top: .8em;
  margin-left: 2em;
}




/******** QUOTE ********/

#quote-wrapper {
  /* background-color: #fffdf9e9; */
  width: 80%;
  /* backdrop-filter: blur(7px); */
  background-image: linear-gradient(
    to bottom,
    #fffdf9d5,
    #fffdf9b9 50%,
    #fffdf99c 60%,
    #fffdf985 63%,
    #fffdf956 83%,
    #fffdf92d 93%,
    #fffdf913 98%
  );
}

/* *******ENTRY******* */

#entry-container {
  height: 100%;
  width: 70%;
  min-width: 355px;
  background-color: #fffdf9e9;
}

#entry-full-form {
  height: 90%;
  min-height: 365;
  overflow-y: hidden;
  /* overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; */
}

/* #entry-full-form::-webkit-scrollbar {
  display: none;
} */

#entry-form {
  min-height: 15vh;
}

.guided-label {
  margin: 8px auto;
  font-weight: bolder;
  font-size: 1.1em;
}

.solo-label {
  margin: 10px auto;
  font-size: 1.3em;
}

/******** POST ********/

.card-link:hover {
  cursor: pointer;
  visibility: visible;
  color: #37a9c9;
  font-weight: 500;
  transform: translate(0, -1px);
}

/******** HUB ********/

#hub-wrapper {
  min-width: 350px;
  max-width: 560px;
  height: 100%;
  padding: 0;
  margin-top: 2em;
  background-color: #fffdf9e9;
}

.hub-link a {
  text-decoration: none;
  font-weight: 600;
  color: #606060;
  font-size: 1.1rem;
  margin: 0 2px;
  white-space: nowrap;
}

#hub-journal a {
  color: #e88686;
}

#hub-nav {
  width: 100%;
  height: 3em;
  margin-bottom: 15px;
  background-color: #fffdf9e9;
}

.hub-btn {
  /* margin: 7px; */

  background-color: #37a9c956 !important;
}

#journal-container {
  width: 100%;
  height: 100%;
  background-color: #fffdf9e9;
}

#journal-wrapper {
  height: 57vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fffdf9e9;
}

#journal-wrapper::-webkit-scrollbar {
  display: none;
}

.milestone {
  background-color: #fffdf9e9!important;
}

#milestone-container {
  width: 60%;
  min-width: 310;
  max-width: 450px;
  height: 350px;
  background-color: #fffdf9e9;
}

#milestone-bar-wrapper {
  height: 72vh;
  background-color: #fffdf9e9;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#milestone-bar-wrapper::-webkit-scrollbar {
  display: none;
}

#trends-wrapper {
  height: 72vh;
  background-color: #fffdf9e9;
}

.milestone-text {
  display: inline-block;
}

/******** LOGIN ********/

#login-wrapper,
#signup-wrapper {
  margin: auto;
  height: 430px;
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  background-color: #fffdf9e9;
}

#login-btn-div {
  position: relative;
  top: 75px;
}

/******** SIGNUP ********/

#signup-wrapper {
  height: 525px !important;
}

#pass-reqs {
  text-align: center;
  display: inline-block;
}

#pass-reqs li {
  text-align: left;
  font-size: 0.8em;
  list-style-type: "\2610   ";
}

.unchecked {
  list-style-type: "\2610   ";
}

.checked::marker {
  content: "✓   ";
  color: green;
}

/******** SIGNOUT ********/

#signout-container {
  width: 30%;
  min-width: 285px;
  max-width: 350px;
  height: 30%;
  min-height: 175px;
  margin: 100px auto;
  padding: 3em;
  background-color: #fffdf9e9;
}

#signout-btn-div {
  margin-top: 15%;
}

/******** PROFILE ********/

#profile-wrapper {
  width: 50%;
  min-width: 301px;
  min-width: 300px;
  height: 400;
  background-color: #fffdf9e9;
}

.profile-form-input {
  margin: 7px 0;
}

/******** ABOUT ********/

#about-container {
  backdrop-filter: blur(7px);
  background-image: linear-gradient(
    to bottom,
    #ffffffe3,
    #fdfdfdc5 50%,
    #fffffe9e 60%,
    #fefefe91 63%,
    #ffffff2f 83%,
    #ffffff24 93%,
    #ffffff08 98%
  );
  height: 77%;
  width: 85%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#about-container::-webkit-scrollbar {
  display: none;
}

#about-title {
  position: sticky;
  top: 0;
  /* background-color: #fffdf9; */
  z-index: 10;
  backdrop-filter: blur(7px);
  background-image: linear-gradient(to bottom, #ffffffc1, #fdfdfd4e 50%);
}

#about-container ol > li {
  list-style-type: none;
  counter-increment: item;
}

#about-container ol > li:before {
  content: counter(item);
  margin-right: 0.3em;
  font-family: "Noto Color Emoji";
  font-size: 1.2em;
  font-weight: bold;
}

#about-container ul li {
  list-style-type: none;
  font-weight: 900;
  line-height: 1.25em;
}

#about-container ul li:before {
  /* content: "•"; */
  content: "-";
  font-size: 130%;
  font-weight: 900;
  line-height: 0;
  margin-right: 0.2em;
  position: relative;
  top: 0.08rem;
  color: #2fadd3;
  z-index: 5;
}

#about-footer {
  font-size: 1.2rem;
}

.ext-link {
  text-decoration: none !important;
  color: #2fadd3;
  font-weight: 700;
  font-size: 1.2em;
}

.ext-link:hover {
  color: #007cbf;
  font-weight: 900;
}

/******** CONFIRM ********/

#confirm-wrapper {
  position: absolute;
  top: -60%;
  left: 45%;
  height: 75px;
  width: 200px;
  background-color: #fffdf947;
  backdrop-filter: blur(7px);
  z-index: 10;
}

.happy {
  color: #ff80ab;
}

.anticipation {
  color: #4db6ac;
}

.surprised {
  color: #f4ff81;
}

.bad {
  color: #ffcc80;
}

.fearful {
  color: #b39ddb;
}

.angry {
  color: #ff8a80;
}

.disgust {
  color: #a5d6a7;
}

.sad{
   color: #40c4ff;
  }
