/******** ELEMENTS ********/
body,
html,
#root,
#app-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #606060;
  font-family: "Nunito";
  letter-spacing: 1px;
  overflow: hidden;
  scroll-behavior: smooth;
}

/*
  background-color: #fffdf9e9;
*/

[contenteditable]:focus {
  outline: 1px solid #2fadd3;
}

.form-input {
  margin: 10px 0 !important;
}

.add-entry {
  display:flex;
  justify-content: center;
}

.icon-container {
  display:flex;
  justify-content: center;
}

.hub-icon {
  text-decoration: none !important;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  padding-right: 5px;
}

.custom-link {
  color: #606060;
  font-weight: 900;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 5px 0 20px 0;
}

.custom-link a {
  text-decoration: none !important;
}

.custom-link:hover {
  color: rgb(255, 255, 255);
}

.hide {
  display: none !important;
}

.done_btn {
  display: block;
}

#app-container,
#home-container {
  margin: 0 auto;
  height: 100%;
}

#root {
  background-image: linear-gradient(
    to bottom,
    #37aac973,
    #fff8ce57 50%,
    #fafaf9ad 60%,
    #fff8ce42 63%,
    #dfa17961 83%,
    #d2561163 93%,
    #d5020273 98%
  );
}

/******** ALERTS ********/

#user-alerts {
  font-size: 16px;
  font-weight: 600;
  width: 70%;
  padding: 1% 0;
  top: 15%;
  left: 15%;
  text-align: center;
  background-color: #ffd0bfb6;
  /* border: 1px solid black; */
  position: fixed;
  z-index: 10;
}

/******** NAV ********/

#nav-wrapper {
  height: 100px;
}

#thought-span {
  color: #e88686;
}

#flow-span {
  color: #fffdf9;
}

#nav-title {
  text-shadow: 0.75px 0.75px 1px #292a2a, 1px 0 1px #a8b1b1;
  font-family: "Caveat";
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 0.4rem;
}

#nav-home a {
  text-decoration: none;
}

.navbar-link a {
  text-decoration: none;
  font-weight: 900;
  color: #606060;
  font-size: 1.6rem;
  margin: 0 8px;
  white-space: nowrap;
}

.navbar-link a:hover,
.hub-link a:hover {
  /* color:rgb(47, 173, 211); */
  /* color:rgb(254, 254, 196) !important; */
  color: #e88686;
}

.mask-custom {
  backdrop-filter: blur(7px);
  background-image: linear-gradient(
    to bottom,
    #37a9c932,
    #37a9c927 30%,
    #37a9c917 50%,
    rgba(255, 248, 206, 0.067) 80%,
    rgba(250, 250, 249, 0.059) 99.9%
  );
  /* background-color: rgba(255, 255, 255, 0.328); */
}

#main-nav-menu {
  width: 100%;
}

#navbar-toggler,
#navbar-toggler:focus,
#navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 2em;
    padding: 0 10px;
}

/******** HOME ********/

/* #home-main {
  width: 45%;
} */

/******** CONTACT ********/

#contact-main {
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  height: 400;
  background-color: #fffdf9e9;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#contact-main::-webkit-scrollbar {
  display: none;
}

#contact-title {
  text-align: center;
}

#contact-check {
  margin-right: 10px !important;
}

.form-check-input {
  margin-right: 10px !important;
}

.form-check-input:checked {
  background-color: #e88686 !important;
  border: 0;
}

.form-check-input:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: #6e6b6b;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem #a5f1ffb9 !important;
}

.form-btn-div {
  text-align: center;
}

.form-btn {
  margin: 5px;
  background-color: #37a9c956 !important;
}

/******** GREET ********/

#greeting-msg-row, #greet-link {
  position: relative;
}

#greet-link a,
#message-link a {
  text-decoration: none;
  color: #e88686;
  font-weight: bolder;
  font-size: 1.1em;
  margin-left: 1px;
}

.active-text {
  color: #e88686;
}

#greeting-feeling {
  display: inline-block;
  min-width: 340px;
}

#greet-info {
  visibility: hidden;
  position: absolute;
  top: -8px;
  left: -35px;
  z-index: 10;
  height: 20px;
  width: 110px;
  border-radius: 8px;
  background-color: #fffdf956;
  backdrop-filter: blur(7px);
  letter-spacing: 0;
  font-size: .7em;
}

#greet-link:hover #greet-info {
  cursor: pointer;
  visibility: visible;
}

#message-link a:hover, #greet-link a:hover {
  color: #37a9c9;
  transform: translate(0, -10px);
}

/******** USER MSG ********/

#user-msg-wrapper {
  min-height: 3em;
}

#msg-center {
  width: 90%;
  background-image: linear-gradient( #fffdf95f, #e8e4db6b, #f8e7c65e);
  background-image: linear-gradient( #fffdf956, #fffdf956, #fffdf956);
  backdrop-filter: blur(7px);
}

.test {
  -webkit-animation: 2s highlight 200ms 1 normal forwards;
          animation: 2s highlight 200ms 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #ffd0bfb6 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

/******** FEELINGS ********/

#feelings-wrapper {
  height: 100%;
  width: 100%;
  margin-top: 1.5rem;
  background-color: transparent;
  /* min-height: 150px;
  max-height: 75vh; */
}

#feelings-form {
  margin: 0 auto;
  min-height: 367px;
  width: 94%;
  background-color: #fffdf9b8;
  /* background-image: linear-gradient( #fffdf956, #fffdf956, #fffdf956) !important;
  backdrop-filter: blur(7px); */
}

#feelings-form .feel-select {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-left: 1em;
}

#feelings-form .feel-select select {
  flex-basis: 50%;
}

#feelings-form .feel-select select option {
  background-color: red;
}

#feeling-cancel {
  display: flex;
  justify-content: center;
}

#feelings-form h5 {
  margin-top: .8em;
  margin-left: 2em;
}

/******** QUOTE ********/

#quote-wrapper {
  /* background-color: #fffdf9e9; */
  width: 90%;
  /* backdrop-filter: blur(7px); */
  background-image: linear-gradient(
    to bottom,
    #fffdf9d5,
    #fffdf9b9 50%,
    #fffdf99c 60%,
    #fffdf985 63%,
    #fffdf956 83%,
    #fffdf92d 93%,
    #fffdf913 98%
  );
}

/* *******ENTRY******* */

#entry-get-flow, #entry-content {
  width: 80%;
  min-width: 355px;
  max-width: 600px;
  background-color: #fffdf9e9;
}

.guided-label {
  margin: 8px auto;
  font-weight: bolder;
  font-size: 1.1em;
}

.solo-label {
  margin: 10px auto;
  font-size: 1.3em;
}

/******** POST ********/

#post-wrapper {
  position: relative;
}

.card-link:hover {
  cursor: pointer;
  visibility: visible;
  color: #37a9c9;
  font-weight: 500;
  transform: translate(0, -1px);
}

/******** HUB ********/

#hub-wrapper {
  position: relative;
  min-width: 350px;
  max-width: 560px;
  height: 100%;
  padding: 0;
  margin-top: 2em;
  background-color: #fffdf9e9;
}

.hub-link a {
  text-decoration: none;
  font-weight: 600;
  color: #606060;
  font-size: 1.1rem;
  margin: 0 2px;
  white-space: nowrap;
}

#hub-nav {
  width: 100%;
  height: 3.5em;
  margin-bottom: 15px;
  background-color: #fffdf9e9 !important;
}

.hub-btn {
  background-color: #37a9c956 !important;
}

/* const activeColor = "#e88686";
  const activeBg = "#37a9c926";
  const defaultColor = "#606060";
  const defaultBg = "#fffdf9e9"; */

.hub-active {
  background-color: #fef2ddfa !important;
  color: #e88686 !important;
}

#journal-container, #milestone-bar-container {
  width: 100%;
  height: 100%;
  background-color: #fffdf9e9;
}

#journal-wrapper {
  height: 420px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fffdf9e9;
}

#journal-wrapper::-webkit-scrollbar {
  display: none;
}

.milestone {
  background-color: #fffdf9e9!important;
}

#milestone-container {
  width: 60%;
  min-width: 310;
  max-width: 450px;
  /* height: 350px; */
  background-color: #fffdf9e9;
}

#milestone-bar-wrapper {
  height: 420px;
  background-color: #fffdf9e9;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#milestone-bar-wrapper::-webkit-scrollbar {
  display: none;
}

#trends-wrapper {
  height: 493px;
  background-color: #fffdf9e9;
}

#graph-container {
  position: relative;
  height: 99%;
  width: 99%;
}

#graph {
  margin: 0;
}

.milestone-text {
  display: inline-block;
}

/******** LOGIN ********/

#login-wrapper,
#signup-wrapper {
  margin: auto;
  width: 50%;
  max-width: 400px;
  min-width: 300px;
  background-color: #fffdf9e9;
}

#login-wrapper {
  height: 430px;
}

#login-btn-div {
  position: relative;
  top: 75px;
}

.auth-link a {
  text-decoration: none;
  color: #37a9c9 !important;
  font-weight: 900;
  font-size: 1.3em;
}

.auth-link a:hover {
  color: #e88686 !important;
}

/******** SIGNUP ********/

#signup-wrapper {
  height: 550px;
}

#pass-reqs {
  text-align: center;
  display: inline-block;
}

#pass-reqs li {
  text-align: left;
  font-size: 0.8em;
  list-style-type: "\2610   ";
}

.unchecked {
  list-style-type: "\2610   ";
}

.checked::marker {
  content: "✓   ";
  color: green;
}

/******** SIGNOUT ********/

#signout-container {
  width: 45%;
  min-width: 308px;
  max-width: 450px;
  height: 40%;
  min-height: 175px;
  margin: 100px auto;
  background-color: #fffdf9e9;
}


#signout-btn-div {
  margin-top: 15%;
}

/******** PROFILE ********/

#profile-container {
  width: 60%;
  min-width: 350px;
  max-width: 450px;
  height: 400;
  background-color: #fffdf9e9;
}

.profile-form-input {
  margin: 7px 0;
}

/******** ABOUT ********/

#about-container {
  backdrop-filter: blur(7px);
  background-image: linear-gradient(
    to bottom,
    #fffffff6,
    #fdfdfdec 50%,
    #fffffed5 60%,
    #fefefeb7 63%,
    #ffffff9b 83%,
    #ffffff83 93%,
    #ffffff47 98%
  );
  height: 78%;
  width: 80%;
  max-width: 1050px;
  margin-top: 35px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#about-container::-webkit-scrollbar {
  display: none;
}

#about-title {
  position: sticky;
  top: 0;
  /* background-color: #fffdf9; */
  z-index: 10;
  backdrop-filter: blur(7px);
  background-image: linear-gradient(to bottom, #ffffffc1, #fdfdfd4e 50%);
}

#about-container ol > li {
  list-style-type: none;
  counter-increment: item;
}

#about-container ol > li:before {
  content: counter(item);
  margin-right: 0.3em;
  font-family: "Noto Color Emoji";
  font-size: 1.2em;
  font-weight: bold;
}

#about-container ul li {
  list-style-type: none;
  line-height: 1.5em;
}

#about-container ul li:before {
  /* content: "•"; */
  content: "-";
  font-size: 130%;
  font-weight: 900;
  line-height: 0;
  margin-right: 0.2em;
  position: relative;
  top: 0.08rem;
  color: #2fadd3;
  z-index: 5;
}

#about-footer {
  font-size: 1.2rem;
}

.ext-link {
  text-decoration: none !important;
  color: #2fadd3;
  font-weight: 700;
  font-size: 1.2em;
}

.ext-link:hover {
  color: #007cbf;
  font-weight: 900;
}

/******** CONFIRM FEELING ********/

#confirm-wrapper {
  position: absolute;
  top: -60%;
  left: 45%;
  height: 75px;
  width: 200px;
  background-color: #fffdf947;
  backdrop-filter: blur(7px);
  z-index: 10;
}

/******** CONFIRM POST ********/
.delete-container {
  position: absolute;
  top: 14%;
  left: 0;
  height: 80px;
  /* width: 70%; */
  background-color: #fef0dfe6;
  z-index: 10;
}

/******** CONFIRM MILESTONE ********/

.milestone .delete-container {
  width: 70%;
  left: 14%;
}


/******** COLORS ********/

.happy {
  color: #ffd07380;
}

.anticipation {
  color: #ffb6bd7e;
}

.surprised {
  color: #fffa947e;
}

.bad {
  color: #44a5ff78;
}

.fearful {
  color: #cda7e781;
}

.angry {
  color: #ed6b5a7e;
}

.disgust {
  color: #96e7b680;
}

.sad{
   color: #85d5e97b;
}
 /* happy: "#ffd07380",
  anticipation: "#ffb6bd7e",
  surprised: "#fffa947e",
  bad: "#44a5ff78",
  fearful: "#cda7e781",
  angry: "#ed6b5a7e",
  disgust: "#96e7b680",
  sad: "#85d5e97b" */


  /******** MEDIA QUERIES ********/

  @media (min-width: 991px) {
    #about-container {
      width: 90%;
      /* height: 70%;
      margin-top: 25px; */
    }
  }

  @media (max-width: 715px) {
    #msg-center {
      width: 90%;
    }

    #feelings-form {
      width: 77%;
    }
  }

@media (max-width: 767px) {
  #app-container {
    height:100%;
    width: 102%;
    padding-right: 2%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #app-container::-webkit-scrollbar {
    display: none;
  }

  #msg-center {
    width: 65%;
  }

  #feelings-form {
    width: 67%;
  }

  #feelings-wrapper {
    margin-top: 1rem;
  }

  #hub-wrapper {
    width: 70%;
   }

   #quote-wrapper {
    width: 65%;
   }
}

  #app-container::-webkit-scrollbar {
    display: none;
  }

@media (max-width: 578px) {
  #entry-container {
    /* height: 83% !important; */
    min-width: 350px;
  }
}

@media (max-width: 680px) {
  #signup-wrapper {
    height: 560px;
    width: 97%;
  }
}

@media (max-height: 715px) {
  #app-container {
    height:100%;
    width: 102%;
    padding-right: 2%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* .colors {
  color: #ffd07380;
  color: #ffb6bd7e;
  color: #fffa947e;
  color: #44a5ff78;
  color: #cda7e781;
  color: #ed6b5a7e;
  color: #96e7b680;
  color: #85d5e97b;
  } */

  /* happy: "##ffd07380",
  anticipation: "#ffb6bd7e",
  surprised: "#fffa947e",
  bad: "#44a5ff78",
  fearful: "#cda7e781",
  angry: "#ed6b5a7e",
  disgust: "#96e7b680",
  sad: "#85d5e97b" */