body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  margin: 4% auto;
}

h1 {
  text-align: center;
}

a {
  margin: 0 15px;
}

.hide {
  display: none !important;
}

#app-wrapper {
  margin: 0 auto;
	height: 100%;
}

#nav-wrapper {
  float: right;
  margin: 0 35px;
}

#progress-bar-wrapper {
  float: left;
  width: 0 35%;
  margin: 1% 3%;
}

#entry-wrapper {
  display: inline-block;
  text-align: center;
  width: 35%;
  clear: both;
  margin: auto;
}

#journal-wrapper {
  float: right;
	margin: 0 5% 0 0;
  width: 28%;
	height: 60%;
  overflow-y: scroll;
}

#journal-wrapper::-webkit-scrollbar {
  display: none;
}

#journal-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.post-wrapper {
  margin: 20px;
}

.post-date {
  display: block;
  margin: 5px;
}

.post-entry {
  margin: 0;
}

/* *******LOGIN******* */
#login-wrapper,
#signup-wrapper {
  background-color: white;
  text-align: center;
  z-index: 5;
  position: fixed;
  top: 30%;
  /* right: 35%; */
  left: 30%;
  margin: 0 auto;
  width: 450px;
  height: 350px;
  border: 1px solid black;
}

.login-label {
  align-self: left;
}

#login-btn {
  /* margin: 0 40%; */
}
